header{
    text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #b3d9ff;
margin-bottom: 50px;
}

div.col{
   font-size: large;
    line-height: 1.7;
    text-align: justify;
}

div.colespaco{
    margin-left: 30px;
}

.botao{
    position: fixed;
    left: 85.5%;
    width: 50px;
    height: 50px;
}
.botao1{
    position: fixed;
    left: 90%;
    width: 50px;
    height: 50px;
}

p#final{
    margin-left: 50px;
}
h1{
    margin-left: 50px ;

}