header{
    text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #b3d9ff;
margin-bottom: 50px;
}

div.col{
   font-size: large;
    line-height: 1.7;
    text-align: justify;
}

div.colespaco{
    margin-left: 30px;
}

.botao{
    position: fixed;
    left: 91.5%;
    width: 50px;
    height: 50px;
    float:right
}
.botao1{
    position: fixed;
    left: 96%;
    width: 50px;
    height: 50px;
    float: right;
}

p#final{
    margin-left: 50px;
}
h1{
    margin-left: 50px ;

}
@media only screen and (max-device-width: 900px) {
    .botao{
        position: fixed;
        left: 91.5%;
        width: 50px;
        height: 50px;
        float:right
    }
    .botao1{
        position: fixed;
        top: 150px;
        left: 91.5%;
        width: 50px;
        height: 50px;
        float: right;
    }
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media only screen and (max-device-width: 900px) {
.quadrado {
    width: 700px;
    height: 100px;
    background-color:blue;
    margin-right:100px;
    
  }
}


  P#feito2{
    margin-left: 50px;
   
  }
P#feito{
    margin-left: 50px;
}